{% extends "base.html.twig" %}

{% block title %} Home {% endblock %}

{% block body %}
   <div class="container">
      <div class="row">
         {% if annonce is not defined %}
            <h1 class="col-12 display-4">Toutes les annonces :</h1>
            {% if annonces is defined %}
               {% for annonce in annonces %}
                  <div class="col-6 annonce-card">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">{{ annonce.id }} - {{ annonce.title }}</h5>
                           <p class="card-text">{{ annonce.description }}</p>
                           <hr class="my-4">
                           <p>Adresse : {{ annonce.city }}, {{ annonce.zip }}</p>
                           <hr class="my-4">
                           <p>Prix : {{ annonce.price }} €</p>
                           <div class="text-right lead">
                              <button type="button" class="btn btn-warning"> <i class="far fa-star"></i></button>

                              <a href="{{ path('annonce_index', {'id': annonce.id}) }}" class="btn btn-primary">Réserver</a>
                           </div>
                        </div>
                     </div>
                  </div>
               {% endfor %}
               {% elseif formAnnonce is defined %}
                  {%  form_theme formAnnonce 'bootstrap_4_horizontal_layout.html.twig' %}

                  {{ form_start(formAnnonce) }}

                     <div class="group text-center">
                        {{ form_widget(formAnnonce.searched_word) }}

                        {{ form_row(formAnnonce.submit) }}
                     </div>

                  {{ form_end(formAnnonce) }}
            {% endif %}

         {% else %}
            <div class="col-12 annonce-card">
               <div class="card">
                  <div class="card-body">
                     <h5 class="card-title">{{ annonce.id }} - {{ annonce.title }}</h5>
                     <p class="card-text">{{ annonce.description }}</p>
                     <hr class="my-4">
                     <p>Adresse : {{ annonce.city }}, {{ annonce.zip }}</p>
                     <hr class="my-4">
                     <p>Prix : {{ annonce.price }} €</p>
                     <p>Créateur de l'annonce : {{ author_id.username }}</p>
                     <p>Catégorie : {{ annonce.categories }}</p>
                     <div class="text-right lead">
                        <button type="button" class="btn btn-warning"> <i class="far fa-star"></i></button>

                        <a href="{{ path('annonce_index', {'id': annonce.id}) }}" class="btn btn-primary">Réserver</a>
                     </div>
                  </div>
               </div>
            </div>
         {% endif %}
      </div>
   </div>
{% endblock %}